{% extends "blog/header.html" %}

{% block content %}
    {% for post in object_list %}
        <!--<h5>{{ post.date|date:"Y-m-d"}}<a href="/blog/{{post.id}}"> {{ post.title }}</a></h5>-->
        <div class="card mt-5">
            <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                <h2 class="lead">{{ post.date|date:"Y-m-d" }}</h2>
                <a href="/blog/{{post.id}}" class="btn btn-primary mx-auto">Read More</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}